@charset "UTF-8";

/* ==========================================================================
   SCSS function
 ============================================================================ */


/* Black和White
 * -------------- Use --------------*
 .my-class{
   background:black(0.15);
   color:white(0.9);
 }

  * -------------- Show --------------*
  .my-class {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.9);
  }
 ============================================================================ */
 @function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}
