@charset "UTF-8";

/* ==========================================================================
   SCSS variables 全局样式定义
 ============================================================================ */

 /* 子组件块
  ============================================================================ */
 .selector {
   padding: 15px;
   margin-bottom: 15px;
 }

 /* 子组件块
  ============================================================================ */
 .selector-secondary {
   display: block; /* 注释*/
 }
