@charset "UTF-8";

// 全局样式定义
@import 'base/variables';


.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box model */
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 10px;
  float: right;
  overflow: hidden;

  /* Typographic */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  color: #fff;
  opacity: .8;

  /* Other */
  cursor: pointer;
}


// 网页响应宽度
@media (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
}
@media (min-width: 992px) {
	.container {
	  width: 970px;
	}
}
@media (min-width: 768px) {
	.container {
	  width: 750px;
	}
}


  /* 字体美化  抗锯齿 */
  @mixin fontNice {
    text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: subpixel-antialiased;
  	font-smooth: always;
  }

// 通用布局样式
body {
	font-family: $font;
	font-weight: normal;
	@include fontNice;
	color: $color !important;
	background-color: $web_bg_color !important;
	cursor: default;
}

a {
	color: $red_color;
}

a:hover {
	color: $gray_color;
	text-decoration: none;
}
