@charset "UTF-8";
// @import "./utils/mixin";
/* ==========================================================================
   SCSS variables 全局样式定义
 ============================================================================ */

// 字体
$font : 'Open Sans', sans-serif;
$color: #777;
// 红色字体
$red_color : #D28073;
// 筛选灰色字体
$filter_gray_color: #888;
// 普通灰色字体
$gray_color: #bbb;
// 网页背景
$web_bg_color: #fff;
