extends templates/meta_tpl
block title
  title Bootstrap 101 template
block css
  link(rel="stylesheet", href="#{css_p}index.css")
block cotent
  body
    div.wrapper
      div.formContaier
        div.logo
        form.formClass(action="", method="post", id="form")
          input(type="text")
          input(type="pwd")
